In [12]:
# 1) Not really sure how to make a function that would create a
# a DataFrame. Not sure if that is even the goal of question 1
# This is as close as I could get. Sorry I had to miss class due to
# illness

import pandas as pd

names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

dataDict={"names":(name if isinstance(name, str) else None) for name in names}
dataDict

{'names': 'Juana'}

In [22]:
# this was another attempt at making 1) a function.
# still not correct obviously, but i feel like i'm getting
# closer. Not sure how to make a dictionary using functions
# based on your module

import pandas as pd

names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

dataDict=[]
for name in names:
    dataDict.append(name)
dataDict

['Tomás', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana']

In [23]:
# if the goal of 1) was just to make a DataFrame, then here it is.
# not a function per se though.

import pandas as pd

names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
friends=pd.DataFrame.from_dict(data)
friends

     names  woman  ages  country education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [26]:
# (2) Create a list of tuples

names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
list(zip(names, country))

[('Tomás', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

In [28]:
# 3) For loop to count how many peruvians the basic way

counterOfPeruvians=0

for peru in country:
    if peru="Peru":
        counterOfPeruvians +=1

counterOfPeruvians

2

In [34]:
# 3 For loop to count Peruvians with 'not'

counterOfPeruvians=0

for peru in country:
    if (peru!="Chile") & (peru!="Senegal") & (peru!="Spain") & (peru!="Norway"):
        counterOfPeruvians +=1

counterOfPeruvians

2

In [40]:
# for loop to count men

countOfMen=0

for man in woman:
    if man!=True:
        countOfMen +=1

countOfMen

4