In [52]:
# Import panda

import pandas as pd

In [53]:
# columns of the DataFrame as lists

names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [54]:
# now in a dict

data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data

{'names': ['Tom치s', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'woman': [False, True, False, False, False, True],
 'ages': [32, 33, 28, 30, 32, 27],
 'country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [55]:
# dict to DataFrame

friends=pd.DataFrame.from_dict(data)
friends

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [106]:
# Where is the youngest male in the group from?
# sort_values()

friends[friends.woman==False].sort_values("ages", ascending=True).country.head(1)

2    Spain
Name: country, dtype: object

In [111]:
# Where is the youngest male in the group from?
# where() and min()

male_youngest1=friends.where(friends.woman==False).ages.min()
friends[friends.ages==male_youngest1].country

2    Spain
Name: country, dtype: object

In [112]:
# Where is the youngest male in the group from?
# query() and min()

male_youngest2=friends.query('woman==False').ages.min()
friends[friends.ages==male_youngest2].country

2    Spain
Name: country, dtype: object